@font-face {
    font-family: 'HVFlorentino';
    src: url('fonts/HV_Florentino_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gluster';
    src: url('fonts/gluster.ttf') format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}


.header {

    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}


nav {
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

/*
.logo img
{
    height: 50px;
}
    */


/* Text and Spacing of the navbar */
.nav-left ul li {
    display: inline-block;
    padding: 2px 60px;
    position: double;
}

.nav-left ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'HVFlorentino', sans-serif;


}

.nav-right ul li {
    display: inline-block;
    padding: 2px 60px;
    position: double;
}

.nav-right ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'HVFlorentino', serif;


}

/* Logo */
.title a {
    display: inline;
    padding: 2px 6px;
    position: double;
    color: black;
    font-size: 23px;
    font-family: 'HVFlorentino', serif;
    text-decoration: none;

}


/* Animations of the navbar */
.nav-left ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    display: block;
    margin: auto;
    transition: 0.3s;

}

.nav-left ul li:hover::after {

    width: 100%;

}

.nav-right ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    display: block;
    margin: auto;
    transition: 0.3s;

}

.nav-right ul li:hover::after {

    width: 100%;

}

.image-one img {
    width: 40%;
    padding-top: 70px;
    padding-left: 100px;
    height: 70%;
    border-radius: 60px;
}

.text-stack p {
    top: 50%;
    left: 35%;
    right: 0%;
    position: absolute;
    color: black;
    font-size: 80px;
    font-family: 'Gluster', serif;
    text-decoration: none;
}

.line hr {
    width: 80%;
    border: 1px solid black;
    position: absolute;
    top: 105%;
    left: 10%;
}

.image-two img {

    vertical-align: middle;
    margin-right: 10px;
    margin-left: 70px;
    margin-top: 170px;
    width: 250px;
    height: 500px;

}

.image-three img {
    height: 20%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 15%;
    right: 0%;

}

.text-two p {
    top: 30%;
    left: 35%;
    right: 0%;
    position: absolute;
    color: rgba(0, 0, 0, 0.51);
    font-size: 200px;
    font-family: 'Gluster', serif;
    text-decoration: none;
}